body {
  background: #121212;
  color: #f9f9f9;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
  scrollbar-color: #5a5a5a #121212;
}
.topbar .navbar .logo{
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  width: fit-content;
  width: fit-content;
  height: fit-content;
}
.sign-in-page {
  background: #121212;
}
.sign-in-page .sign-in-box {
  text-align:center;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
}
.sign-in-page .sign-in-box h1 {
  margin: 35px;
  font-size: 50px;
}
.sign-in-page .sign-in-box .button {
  background-color: #1ed760;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 100px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin: 15px ;
  text-decoration: none;
}
.sign-in-page .sign-in-box .button:hover,
.sign-in-page .sign-in-box .button:active,
.sign-in-page .sign-in-box .button:focus {
  background-color: #232323;
  color: #ffffff;
  transition: background-color 75ms linear;
}
.sign-in-page .sign-in-box .link {

  display: inline-block;
  margin: 35px;
  width: fit-content;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1px;
}

.sign-in-page .sign-in-box .link:hover,
.sign-in-page .sign-in-box .link:active,
.sign-in-page .sign-in-box .link:focus {
  color: #ffffff;
}
.topbar {
  display: flex;
  justify-content: space-between;
  background-color: #010101;
  padding: 14px 30px
}
.topbar .navbar {
  display: flex;
  align-items: center;
}
.topbar .navbar a {
  display: inline-block;
  margin: 0px 8px;
  width: fit-content;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.topbar .navbar .link:hover,
.topbar .navbar .link:active,
.topbar .navbar .link:focus {
  color: #ffffff;
}

.topbar .navbar .button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}
.topbar .navbar .button:hover,
.topbar .navbar .button:active,
.topbar .navbar .button:focus {
  background-color: #232323;
  color: #ffffff;
}
.content {
  padding: 20px 40px;
}

.content .playlist-name {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  white-space: nowrap;
  display:inline;
}

.content .title-and-button {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
.content h2 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 20px;
}

input[type=submit] {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 20px;
}

input[type=submit]:hover {
  background-color: #232323;
  color: #ffffff;
}

.content .list {
  margin: 0 2vw;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  overflow: auto;
  height: 80vh;
  width: 90vw;
}
.content .list .item {
  width: 160px;
  padding: 15px;
  background-color: #181818;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.content .list .item:active,
.content .list .item:hover{
  background-color: #252525;
}

.content .list .item img {
  width: 100%;
  border-radius: 6px;
}

.content .list .item h4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .list .item p {
  color: #989898;
  font-size: 12px;
  line-height:20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-overflow: ellipsis;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.item:has([type=radio]:checked) {
  background-color: #5a5a5a;
}

input + div label {
  cursor: pointer;
}

.green-link {
  color:#1ed760;
  font-size: 17px;
  font-weight:700;
}

.page-title {
  margin: 30px 50px;
}

.small-header-outline {
  margin: 30px 200px;
}

.bullet-point{
  margin: 25px 120px;
}

.bullet-highlight {
  font-size: 18px;
  font-weight: 600;
  color:#1ed760;
}