{% extends "emptyLayout.html" %}
{% block content %}
<h1>About SpotiTube</h1>
<h2>Effortlessly move your music!</h2>
<p>We help you switch between music platforms without losing your playlists. Transfer your Spotify playlists to YouTube in just a few clicks.</p>
<h2>Why Choose Us?</h2>
<p>Simple & Fast: Our user-friendly platform makes transferring playlists a breeze.</p>
<p>Unwavering Security: We prioritize your privacy. Industry-standard encryption technology keeps your login credentials safe and sound.</p>
<p>Free & Scalable: Transfer individual playlists or your entire music library (limitations may apply).</p>
<h2>Benefits</h2>
<p>Save Time: Don't waste time recreating playlists.</p>
<p>Stay Updated: Keep your meticulously crafted playlists synchronized.</p>
{% endblock content %}