<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='s_logo.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>SpotiTube</title>
    {% endif %}
</head>
<body>
  <header>
    <div class="main-container">
      <div class="topbar">
          <div class="navbar">
            <a href="/" class="logo">SpotiTube</a>
            {% if current_user.spotify_playlist_name and current_user.spotify_playlist_url %}
            <a href="/spotify_playlists" class="link">Change playlist</a>
            <a href="/spotify_remove_playlist" class="link">Remove playlist</a>
            {% else %}
            <a href="/spotify_playlists" class="link">Select playlist</a>
            {% endif %}
            <a href="/report_song" class="link">Report song</a>
          </div>
          <div class="navbar">
              <a href="/about" class="link" target="_blank">About</a>
              <a href="/privacy" class="link" target="_blank">Privacy</a>
              <a href="/account" class="link">Account</a>
              <a href="/spotify_logout" class="button">Log out</a>
          </div>
      </div>
    </div>
  </header>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  
</body>
</html>