{% extends "emptyLayout.html" %}
{% block content %}
<div class="main-container">
    <div class="topbar">
        <div class="navbar">
          <a href="/" class="logo">SpotiTube</a>
        </div>
        <div class="navbar">
            <a href="/about" class="link" target="_blank">About</a>
            <a href="/privacy" class="link" target="_blank">Privacy</a>
        </div>
    </div>
</div>
<h2 class="small-header-outline">Privacy</h2>
<p class="bullet-point"><span class="bullet-highlight">SpotiTube:</span> We respects your privacy and is committed to protecting your personal information. This Privacy Policy outlines how we collect, use, disclose, and protect your information when you use our website and services.</p>
<h2 class="small-header-outline">Information We Collect</h2>
<p class="bullet-point"><span class="bullet-highlight">Personal Information:</span> We may collect personal information such as your Spotify username, your Spotify playlists, and Spotify/YouTube credentials when you use our services. This information is necessary to facilitate the playlist transfer process.</p>
<p class="bullet-point"><span class="bullet-highlight">Usage Data:</span>  We DO NOT collect non-personal information about your interaction with our website, such as your IP address, browser type, and device information.</p>
<h2 class="small-header-outline">How We Use Your Information</h2>
<p class="bullet-point"><span class="bullet-highlight">Playlist Transfer:</span> We use your Spotify/YouTube credentials to access and transfer your playlists between the two platforms.</p>
<p class="bullet-point"><span class="bullet-highlight">Service Improvement:</span> We analyze usage data to enhance our website's functionality and user experience.</p>
<h2 class="small-header-outline">Data Security</h2>
<p class="bullet-point">We implement industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission or storage is completely secure, and we cannot guarantee absolute security.  </p>
<h2 class="small-header-outline">Third-Party Services</h2>
<p class="bullet-point">We DO NOT use third-party service providers to assist with various aspects of our services.</p>
<h2 class="small-header-outline">Changes to This Policy</h2>
<p class="bullet-point">We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new policy on this page.</p>
{% endblock content %}